/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9a9191;
    color: #ffffff;
}

/* Header Section */
header {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

/* Section Styling */
section {
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-in-out;
  }
  
  .about-section.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .about-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
  }
  
  .about-image img:hover {
    transform: scale(1.05);
  }
  
  .btn {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }
  

  .slideshow-container {
    max-width: 600px;
    margin: auto;
    position: relative;
    min-height: 200px;
  }
  
  .slide {
    display: none;
    padding: 20px;
    text-align: center;
    background: #040404;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  .fade {
    animation: fadeEffect 1s ease-in-out;
  }
  
  @keyframes fadeEffect {
    from {opacity: 0.4} 
    to {opacity: 1}
  }
  

/* Slideshow Styling */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slides {
    display: none;
    width: 100%;
}

.slides img {
    width: 100%;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #fff;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#contact{
    text-align: center;
}

/* Footer Section */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
